*{
	font-family: "Roboto";
}

$main-bg:darkslateblue;
$alternate-bg:tomato;
$bg-3:gold;
$bg-4:deeppink;
$bg-5:rebeccapurple;

.flex{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

#nav{
background-color: white;
	// Establish some media queries so it doesnt break
	li{
		padding:0 8vw;
		font-size: 1.2em;
	}
}




#home{
width: 100vw;
height: 100vh;
background-color: $main-bg;
color: white;
}

#about{
	width: 100vw;
	height: 100vh;
	background-color: $alternate-bg;

	//Add media queries to avoid breaks
	p{
		width:50%;
		text-align: center;
	}
}

#skills{
	width: 100vw;
	height: 100vh;
	background-color: $bg-3;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;

#skills-header{
	padding-top: 10%;
	width: 100%;
	text-align: center;
}

.columns{
	width: 30%;
	text-align:center;
	padding: 0 5%;
	height: 50%;
}

ul{
	list-style-type: none;
}

}

#portfolio{
	width: 100vw;
	height: 100vh;
	background-color: $bg-4;
}

#connect{
	width: 100vw;
	height: 100vh;
	background-color: $bg-5;
	color: white;
}



//Other
