*{
	font-family: "Roboto";
}

$main-bg:darkslateblue;
$alternate-bg:tomato;
$bg-3:gold;
$bg-4:deeppink;
$bg-5:rebeccapurple;

.flex-col{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.flex-row{
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.logo-image{
width: 50px;
height: 50px;
}

#nav{
background-color: white;

	// Establish some media queries so it doesnt break
	li{
		padding:0 8vw;
		font-size: 1.2em;
	}
}




#home{
background-color: $main-bg;
color: white;
}

#about{
	background-color: $alternate-bg;

	//Add media queries to avoid breaks
	p{
		width:50%;
		text-align: center;
	}
}

#skills{
	background-color: $bg-3;

#skills-header{
	padding-top: 10%;
	width: 100%;
	text-align: center;
}

.columns{
	width: 30%;
	text-align:center;
	padding: 0 5%;
	height: 50%;
}

ul{
	list-style-type: none;
}

}

#portfolio{
	background-color: $bg-4;
}

#connect{
	background-color: $bg-5;
	color: white;

.connect-header{
	width: 100%;
	text-align:center;
	padding-top: 10%;
}

	.columns{
		width: 10%;
		text-align:center;
		padding: 0 10%;
		height: 20%;
	}
}
